@layer base {
  form {
    input,
    textarea {
      @apply text-sm
      w-full pb-2
      outline-none shadow-none
      rounded-none border-b border-solid border-brand
      placeholder:text-brand placeholder:opacity-40;

      &:focus-visible {
        outline: 2px solid theme("colors.brand");
        outline-offset: 10px;
      }
    }

    textarea {
      @apply resize-none;
    }
  }
}
